{% extends 'layout.html' %}
{% block body%}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-home me-1"></i>
        Inicio
    </div>
    <div class="card-body">

        <h2>Integrantes:</h2>
        <br>
        <h3>Yosue Zaid Camacho Tapia</h3>
        <h3>Lenny Gabriela Sempertegui Calatayud</h3>
        <h3>Jorge Fernando Rios Gironda</h3>
    </div>
</div>
{% endblock %}