{% extends 'layout.html' %}
{% block body%}
<div class="card m-8">
    <div class="card-header">
        <h4><i class="fas fa-plus me-1"></i>
        Nuevo Salón</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Código:</label><br>
                        {{ form.codigo }}
                        {% if form.errors.codigo %}
                            <small class="text-danger mt-3">{{ form.errors.codigo }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">Nombre:</label><br>
                        {{ form.nombre }}
                        {% if form.errors.nombre %}
                            <small class="text-danger mt-3">{{ form.errors.nombre }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-form-label">Ubicación:</label><br>
                {{ form.ubicacion }}
            </div>
            <button type="submit" class="btn btn-outline-info float-right">Crear</button>
        </form>
    </div>
</div>
{% endblock %}