{% extends 'layout.html' %}
{% block body%}
<div class="card mb-4">
    <div class="card-header">
        <h3><i class="fas fa-table me-1"></i>
        Listado de Salones</h3>
    </div>
    <div class="card-body">
        <a href="{% url 'create_salon' %}" class="btn btn-outline-info mb-3 float-right">Nuevo Salón</a><br><br><br>
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th class="text-center" width="20%">Código</th>
                    <th class="text-center" width="45%">Nombre</th>
                    <th class="text-center" width="25%">Ubicación</th>
                    <th class="text-center" width="10%">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for salon in salones %}
                <tr>
                    <td class="text-center">{{salon.codigo}}</td>
                    <td>{{salon.nombre}}</td>
                    <td class="text-center">{{salon.ubicacion}}</td>
                    <td class="text-center">
                        <a href="{% url 'update_salon' salon.id %}" class="btn btn-outline-info"><i class="fas fa-edit" title="Editar"></i></a>
                        <a href="{% url 'delete_salon' salon.id %}" class="btn btn-outline-danger"><i class="fas fa-trash" title="Eliminar"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}