{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Programas
        </div>
        <form method="POST" class="post-form" action="/fdj/prog/update/{{ programa.id }}">
            {% csrf_token %}
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Codigo:</label>
                        <div class="col-sm-4">
                            <input type="text" name="codigo" id="id_ename" required maxlength="100"
                                   value="{{ programa.codigo }}"/>
                        </div>
                        {% if form.errors.codigo %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.errors.codigo }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Nombre:</label>
                        <div class="col-sm-4">
                            <input type="text" name="nombre" id="id_eid" required value="{{ programa.nombre }}"/>
                        </div>
                        {% if form.errors.nombre %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.errors.nombre }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Departamento:</label>
                        <div class="col-sm-4">
                            <input type="text" name="departamento" id="id_eemail" required maxlength="254"
                                   value="{{ programa.departamento }}"/>
                        </div>
                        {% if form.errors.departamento %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.errors.departamento }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Universidad:</label>
                        <div class="col-sm-4">
                            <select  name="universidad_id" id="universidad_id" required>
                                <option value="">Seleccionar</option>
                                {% for u in universidades %}
                                    <option value="{{ u.id }}"
                                            {% if programa.universidad_id.id == u.id %} selected {% endif %}>{{ u.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 col-form-label">Descripcion:</label>
                    <div class="col-sm-4">
                        <textarea cols="100" rows="3" name="descripcion">{{ programa.descripcion }}</textarea>
                    </div>
                    {% if form.errors.descripcion %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.descripcion }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}