{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Programas
        </div>
        <form method="POST" class="post-form" action="/fdj/prog/emp">
            {% csrf_token %}
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Codigo:</label>
                        <div class="col-sm-4">
                            {{ form.codigo }}
                        </div>
                        {% if form.errors.codigo %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.errors.codigo }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Nombre:</label>
                        <div class="col-sm-4">
                            {{ form.nombre }}
                        </div>
                        {% if form.errors.nombre %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.errors.nombre }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Departamento:</label>
                        <div class="col-sm-4">
                            {{ form.departamento }}
                        </div>
                        {% if form.errors.departamento %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.errors.departamento }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Universidad:</label>
                        <div class="col-sm-4">
                            {{ form.universidad_id }}
                        </div>
{#                        {% if form.errors.universidad_id %}#}
{#                            <div class="alert alert-danger mt-3" role="alert">#}
{#                                {{ form.errors.universidad_id }}#}
{#                            </div>#}
{#                        {% endif %}#}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 col-form-label">Descripcion:</label>
                    <div class="col-sm-4">
                        {{ form.descripcion }}
                    </div>
                    {% if form.errors.descripcion %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.descripcion }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}