{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de Programas
        </div>
        <div class="card-body">
        <a href="/fdj/prog/emp" class="btn btn-outline-info mb-3">Nuevo Programa</a>
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Descripcion</th>
                    <th>Universidad</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
                </tfoot>
                <tbody>
                {% for programa in programas %}
                    <tr>
                        <td>{{ programa.codigo }}</td>
                        <td>{{ programa.nombre }}</td>
                        <td>{{ programa.departamento }}</td>
                        <td>{{ programa.descripcion }}</td>
                        <td>{{ programa.universidad_id }}</td>
                        <td>
                            <a href="/fdj/prog/edit/{{ programa.id }}" class="btn btn-outline-info"><span
                                    class="glyphicon glyphicon-pencil">Edit</span></a>
                            <a href="/fdj/prog/delete/{{ programa.id }}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}