{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Nuevo Docente
        </div>
        <form method="POST" class="post-form" action="/usuarios/docentes/crear">
            {% csrf_token %}
            <div class="container">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">nombre:</label>
                        <div class="col-sm-4">
                            {{ form.nombre }}
                        </div>
                        {% if form.errors.nombre %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.nombre }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">usuario:</label>
                        <div class="col-sm-4">
                            {{ form.usuario }}
                        </div>
                        {% if form.errors.usuario %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.usuario }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">contraseña:</label>
                        <div class="col-sm-4">
                            {{ form.password }}
                        </div>
                        {% if form.errors.password %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.password }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Email:</label>
                        <div class="col-sm-4">
                            {{ form.email }}
                        </div>
                        {% if form.errors.email %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.email }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Especialidad:</label>
                        <div class="col-sm-4">
                            {{ form.especialidad }}
                        </div>
                        {% if form.errors.especialidad %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.especialidad }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Pago por Horas:</label>
                        <div class="col-sm-4">
                            <input type="number" class="" name="pagoXHoras" id="pagoXHoras">
                        </div>
                        {% if form.errors.pagoXhoras %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.pagoXhoras }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Tipo:</label>
                        <div class="col-sm-4">
                            <select name="tipo" id="tipo">
                                <option value="1">Contrato Indefinido</option>
                                <option value="2">Eventual</option>
                            </select>
                        </div>
                        {% if form.errors.tipo %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.tipo }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Universidad:</label>
                        <div class="col-sm-4">
                            {{ form.universidad }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}