{% extends 'layout.html' %}
{% block body%}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Docentes
    </div>
    <div class="card-body">
        <a href="/usuarios/docentes/crear" class="btn btn-outline-info mb-3">Nuevo Docente</a>
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>especialidad</th>
                <th>pago x Horas</th>
                <th>Tipo Contrato</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for docente in docentes %}
                <tr>
                    <td>{{docente.usuario}}</td>
                    <td>{{docente.nombre}}</td>
                    <td>{{docente.email}}</td>
                    <td>{{docente.especialidad}}</td>
                    <td>{{docente.pagoXHoras}}</td>
                    <td>
                        {% if docente.tipo == '1'  %} Fijo {% endif %}
                        {% if docente.tipo == '2'  %} Eventual {% endif %}
                    </td>
                    <td><a href="/usuarios/docentes/edit/{{ docente.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i>
                    <a href="/usuarios/docentes/delete/{{ docente.id }}" class="btn btn-danger"><i class="fa fa-times"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}  