{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'fdj/style.css' %}"/>
{% if latest_question_list %}
    <div class="green">
    Questions
    </div>
           <ul>
    {% for question in latest_question_list %}
           <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
       </ul>
{% else %}
           <p>No questions are available.</p>
{% endif %}