{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Programas
        </div>
       <form method="POST" class="post-form" action="/fdj/univ/update/{{ universidad.id }}">
            {% csrf_token %}
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Nombre:</label>
                        <div class="col-sm-4">
                            <input type="text" name="nombre" id="id_eid" required value="{{ universidad.nombre }}"/>
                        </div>
                        {% if form.errors.nombre %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.nombre }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Sigla:</label>
                        <div class="col-sm-4">
                            <input type="text" name="sigla" id="id_ename" required maxlength="100" value="{{ universidad.sigla }}"/>
                        </div>
                        {% if form.errors.sigla %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.sigla }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Email:</label>
                        <div class="col-sm-4">
                            <input type="email" name="email" id="id_eemail" required maxlength="254"
                       value="{{ universidad.email }}"/>
                        </div>
                        {% if form.errors.email %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.email }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
