{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de Universidades
        </div>
        <div class="card-body">
            <a href="/fdj/univ/emp" class="btn btn-outline-info mb-3">Nueva Universidad</a>
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Sigla</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for universidad in universidades %}
                    <tr>
                        <td>{{ universidad.id }}</td>
                        <td>{{ universidad.nombre }}</td>
                        <td>{{ universidad.sigla }}</td>
                        <td>{{ universidad.email }}</td>
                        <td>
                            <a href="/fdj/univ/edit/{{ universidad.id }}" class="btn btn-outline-info"><span
                                    class="glyphicon glyphicon-pencil">Edit</span></a>
                            <a href="/fdj/univ/delete/{{ universidad.id }}" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}