<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Yolejo</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fdj/css/styles.css' %}"/>

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Sistema Academico</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Sistema</div>
                    <a class="nav-link " href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                        Inicio
                        
                    </a>
                    <div class="sb-sidenav-menu-heading">Módulos</div>
                    
{#                    Universidades#}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUnivs"
                       aria-expanded="false" aria-controls="collapseUnivs">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Universidades
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseUnivs" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/fdj/univ/show">Listado</a>
                            <a class="nav-link" href="/fdj/univ/emp">Crear Nueva</a>
                        </nav>
                    </div>
{#                    Programas#}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePrograms"
                       aria-expanded="false" aria-controls="collapsePrograms">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Programas
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePrograms" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/fdj/prog/show">Listado</a>
                            <a class="nav-link" href="/fdj/prog/emp">Crear Nuevo</a>
                        </nav>
                    </div>
{#                    Salones#}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSalon"
                       aria-expanded="false" aria-controls="collapseSalon">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Salones
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseSalon" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/salon">Listado</a>
                            <a class="nav-link" href="/salon/create">Crear Nuevo</a>
                        </nav>
                    </div>
{#                    Cursos#}
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCurso"
                       aria-expanded="false" aria-controls="collapseCurso">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Cursos
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseCurso" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/curso">Listado</a>
                            <a class="nav-link" href="/curso/create">Crear Nuevo</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers"
                       aria-expanded="false" aria-controls="collapseUsers">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Usuarios
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseUsers" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/usuarios/estudiantes">Estudiantes</a>
                            <a class="nav-link" href="/usuarios/estudiantes/crear">Crear Estudiante</a>
                            <a class="nav-link" href="/usuarios/docentes">Docentes</a>
                            <a class="nav-link" href="/usuarios/docentes/crear">Crear Docente</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Analisis de Algoritmos</div>
                Grupo 49
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            {% block body %}
            {% endblock %}
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; UAB 2022</div>
                    <div>
                        <a href="#">Yosue Camacho</a>
                        &middot;
                        <a href="#">Lenny Sempertegui</a>
                        &middot;
                        <a href="#">Jorge Rios</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'fdj/css/styles.css' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static 'fdj/js/scripts.js' %}"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>#}
{#<script src="{% static 'fdj/assets/demo/chart-area-demo.js' %}"></script>#}
{#<script src="{% static 'fdj/assets/demo/chart-bar-demo.js' %}"></script>#}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'fdj/js/datatables-simple-demo.js' %}"></script>
</body>
</html>
