{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Nuevo Estudiante
        </div>
        <form method="POST" class="post-form" action="/usuarios/estudiantes/crear">
            {% csrf_token %}
            <div class="container">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">nombre:</label>
                        <div class="col-sm-4">
                            {{ form.nombre }}
                        </div>
                        {% if form.errors.nombre %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.nombre }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">usuario:</label>
                        <div class="col-sm-4">
                            {{ form.usuario }}
                        </div>
                        {% if form.errors.usuario %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.usuario }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">contraseña:</label>
                        <div class="col-sm-4">
                            {{ form.password }}
                        </div>
                        {% if form.errors.password %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.password }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Email:</label>
                        <div class="col-sm-4">
                            {{ form.email }}
                        </div>
                        {% if form.errors.email %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.email }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Matricula:</label>
                        <div class="col-sm-4">
                            {{ form.numeroMatricula }}
                        </div>
                        {% if form.errors.numeroMatricula %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.numeroMatricula }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Fecha de nacimiento:</label>
                        <div class="col-sm-4">
                            <input type="date" class="" name="fechaDeNacimiento" id="fechaDeNacimiento">
                        </div>
                        {% if form.errors.fechaDeNacimiento %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.fechaDeNacimiento }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Universidad:</label>
                        <div class="col-sm-4">
                            {{ form.universidad }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
