{% extends 'layout.html' %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Editar Estudiante
        </div>
       <form method="POST" class="post-form" action="/usuarios/estudiantes/update/{{ estudiante.id }}">
            {% csrf_token %}
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">nombre:</label>
                        <div class="col-sm-4">
                            <input type="text" name="nombre" id="nombre" required value="{{ estudiante.nombre }}"/>
                        </div>
                        {% if form.errors.nombre %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.nombre }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">usuario:</label>
                        <div class="col-sm-4">
                            <input type="text" name="usuario" id="usuario" required value="{{ estudiante.usuario }}"/>
                        </div>
                        {% if form.errors.usuario %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.usuario }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">contraseña:</label>
                        <div class="col-sm-4">
                            <input type="text" name="password" id="password" required value="{{ estudiante.password }}"/>
                        </div>
                        {% if form.errors.password %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.password }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Email:</label>
                        <div class="col-sm-4">
                            <input type="email" name="email" id="email" required value="{{ estudiante.email }}"/>
                        </div>
                        {% if form.errors.email %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.email }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Matricula:</label>
                        <div class="col-sm-4">
                            <input type="number" name="numeroMatricula" id="numeroMatricula" required value="{{ estudiante.numeroMatricula }}"/>
                        </div>
                        {% if form.errors.numeroMatricula %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.numeroMatricula }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Fecha de nacimiento:</label>
                        <div class="col-sm-4">
                            <input type="date" class="" name="fechaDeNacimiento" id="fechaDeNacimiento" value='{{ format_date }}'>
                        </div>
                        {% if form.errors.fechaDeNacimiento %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ form.errors.fechaDeNacimiento }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-sm-6 col-form-label">Universidad:</label>
                        <div class="col-sm-4">
                            <select  name="universidad" id="universidad" required>
                                <option value="">Seleccionar</option>
                                {% for u in universidades %}
                                    <option value="{{ u.id }}"
                                            {% if estudiante.universidad_id == u.id %} selected {% endif %}>{{ u.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
