{% extends 'layout.html' %}
{% block body%}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Estudiantes
    </div>
    <div class="card-body">
        <a href="/usuarios/estudiantes/crear" class="btn btn-outline-info mb-3">Nuevo Estudiante ({{samu.especie}})</a>
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Matricula</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{estudiante.usuario}}</td>
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.email}}</td>
                    <td>{{estudiante.numeroMatricula}}</td>
                    <td><a href="/usuarios/estudiantes/edit/{{ estudiante.id }}" class="btn btn-warning"><i class="fa fa-pencil"></i></td>
                    <td><a href="/usuarios/estudiantes/delete/{{ estudiante.id }}" class="btn btn-danger"><i class="fa fa-times"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}  

