{% extends 'layout.html' %}
{% block body%}
<div class="card mb-4">
    <div class="card-header">
        <h3><i class="fas fa-table me-1"></i>
        Listado de Cursos</h3>
    </div>
    <div class="card-body">
        <a href="{% url 'create' %}" class="btn btn-outline-info mb-3 float-right">Nuevo Curso</a><br><br><br>
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th class="text-center" width="20%">Universidad</th>
                    <th class="text-center" width="15%">Docente</th>
                    <th class="text-center" width="15%">Código</th>
                    <th class="text-center" width="20%">Nombre</th>
                    <th class="text-center" width="10%">Créditos</th>
                    <th class="text-center" width="10%">Salón</th>
                    <th class="text-center" width="10%">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td>{{materia.universidad.nombre}}</td>
                    <td>{{materia.docente.nombre}}</td>
                    <td class="text-center">{{materia.codigo}}</td>
                    <td>{{materia.nombre}}</td>
                    <td class="text-center">{{materia.creditos}}</td>
                    <td class="text-center">{{materia.salon}}</td>
                    <td class="text-center">
                        <a href="{% url 'update' materia.id %}" class="btn btn-outline-info"><i class="fas fa-edit" title="Editar"></i></a>
                        <a href="{% url 'delete' materia.id %}" class="btn btn-outline-danger"><i class="fas fa-trash" title="Eliminar"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}