{% extends 'layout.html' %}
{% block body%}
<div class="card m-8">
    <div class="card-header">
        <h4><i class="fas fa-plus me-1"></i>
        Nueva Inscripción</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-form-label">Estudiante:</label><br>
                {{ form.estudiante }}
            </div>
            <div class="form-group">
                <label class="col-form-label">Curso:</label><br>
                {{ form.curso }}
            </div>
            <button type="submit" class="btn btn-outline-info float-right">Registrar</button>
        </form>
    </div>
</div>
{% endblock %}